.task-list-item {
    /* Make stand out in colour, if they still need work */
    &[data-task-status-type="TODO"],
    &[data-task-status-type="IN_PROGRESS"] {
        &[data-task-priority="highest"] {
            --priority-color: var(--color-purple);
            background: rgb(from var(--priority-color) r g b / 0.2);
            border: 1px solid rgb(from var(--priority-color) r g b / 0.3);
        }

        &[data-task-priority="high"] {
            --priority-color: var(--color-red);
            background: rgb(from var(--priority-color) r g b / 0.2);
            border: 1px solid rgb(from var(--priority-color) r g b / 0.3);
        }

        &[data-task-priority="medium"] {
            --priority-color: var(--color-orange);
            background: rgb(from var(--priority-color) r g b / 0.2);
            border: 1px solid rgb(from var(--priority-color) r g b / 0.3);
        }

        &[data-task-priority="normal"] {
            --priority-color: var(--color-blue);
            background: rgb(from var(--priority-color) r g b / 0.2);
            border: 1px solid rgb(from var(--priority-color) r g b / 0.3);
        }

        &[data-task-priority="low"] {
            --priority-color: var(--color-cyan);
            background: rgb(from var(--priority-color) r g b / 0.2);
            border: 1px solid rgb(from var(--priority-color) r g b / 0.3);
        }

        &[data-task-priority="lowest"] {
            --priority-color: var(--color-green);
            background: rgb(from var(--priority-color) r g b / 0.2);
            border: 1px solid rgb(from var(--priority-color) r g b / 0.3);
        }

        /* This part removes the regular priority emoticon, only for the tasks that we are styling */
        span.task-priority {
            display: none;
        }
    }
}
