# Intellij
*.iml
.idea

# vscode
.vscode/*.code-workspace

# npm
node_modules
yarn-error.log

# build
/main.js
*.js.map
.log

# obsidian
/data.json
/.obsidian

# jest coverage files
/coverage

# osx
.DS_Store

# asdf
.tool-versions

# files in sample vaults
/resources/sample_vaults/Tasks-Demo/.obsidian/workspace
.hotreload

# Backup files.
*.bak
