# Intellij
*.iml
.idea

# npm
node_modules
yarn-error.log

# build
/main.js
*.js.map
.log

# obsidian
/data.json
/.obsidian

# jest coverage files
/coverage

# approval test files
*.received.*

# osx
.DS_Store

# asdf
.tool-versions

# files in local vaults
**/workspace
**/workspace.json
.hotreload

# Backup files.
*.bak
