.task-dependencies-container {
    grid-column: 2;

    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}
.task-dependency {
    display: inline-flex;
    background-color: var(--interactive-normal);
    box-shadow: var(--input-shadow);
    border-radius: 28px;
    padding: 4px 4px 4px 8px;
}

.task-dependency-name {
    font-size: var(--font-ui-small);
    max-width: 160px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.task-dependency-delete {
    padding: 3px;
    cursor: pointer;
    height: inherit;
    box-shadow: none !important;
    border-radius: 50%;
}

.task-dependency-dropdown {
    list-style: none;
    position: absolute;
    top: 0;
    left: 0;
    padding: 4px;
    margin: 0;
    background-color: var(--background-primary);
    border: 1px;
    border-radius: 6px;
    border-color: var(--background-modifier-border);
    border-style: solid;
    z-index: 99;
    max-height: 170px;
    overflow-y: auto;
}

.task-dependency-dropdown li {
    padding: 5px;
    margin: 2px;
    border-radius: 6px;
    cursor: pointer;
    display: flex;
    justify-content: space-between
}
.task-dependency-dropdown li .dependency-name {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.task-dependency-dropdown li .dependency-name-shared {
    width: calc(60%);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.task-dependency-dropdown li .dependency-path {
    width: calc(40%);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-style: italic;
    text-align: right;
    color: var(--italic-color)
}

.task-dependency-dropdown li.selected {
    background-color: var(--text-selection);
}
