.tasks-modal {
    > section {
            margin-top: 8px;
    }

    hr {
        margin: 0.35rem 0 0.85rem 0;
    }

    .tasks-modal-error {
        border: 1px solid red !important;
    }
}

.with-accesskeys {
    .accesskey-first::first-letter, .accesskey {
        text-decoration: underline;
        text-underline-offset: 1pt;
    }
}

.tasks-modal-description-section {
    textarea {
        width: 100%;
        min-height: calc(var(--input-height) * 2);
        resize: vertical;
        margin-top: 8px;
    }
}

.tasks-modal-priority-section {
    display: grid;
    grid-template-columns: 6em auto auto auto;
    grid-column-gap: 0.5em;
    grid-row-gap: 0.15em;

    > label {
        grid-row-start: 1;
        grid-row-end: 3;
    }

    .task-modal-priority-option-container {
        white-space: nowrap;

        input + label {
            font-size: var(--font-ui-small);
            border-radius: var(--input-radius);
            padding: 2px 3px;
        }

        input {
            accent-color: var(--interactive-accent);
        }

        input:focus + label {
            box-shadow: 0 0 0 2px var(--background-modifier-border-focus);
            border-color: var(--background-modifier-border-focus);
        }

        input:checked + label {
            font-weight: bold;
        }

        input:not(:checked) + label > span:nth-child(4) {
            filter: grayscale(100%) opacity(60%);
        }
    }
}

.tasks-modal-dates-section {
    display: grid;
    grid-template-columns: 6.0em auto;
    grid-auto-columns: 1fr;
    column-gap: .5em;
    row-gap: 5px;
    align-items: center;

    label {
        grid-column: 1;
    }

    .input[type=text] {
        min-width: 15em;
    }

    .results {
        grid-column: 3;
        font-size: var(--font-ui-small);
    }

    .future-dates-only {
        grid-column-start: 1;
        grid-column-end: 3;

        input[type="checkbox"] {
            margin-left: 0.67em;
            top: 2px;
        }
    }

    select {
        grid-column: 2;
        width: 15em;
    }
}

.tasks-modal-dependencies-section {
    display: grid;
    grid-template-columns: 6.0em auto;
    grid-auto-columns: 1fr;
    align-items: center;

    input[type="text"] {
        grid-column: 2;
        width: 100%;
    }

    .results-dependency {
        grid-column: 2;
    }
}

.tasks-modal-button-section {
    position: sticky;
    bottom: 0;
    background-color: var(--modal-background);
    padding-bottom: 16px;
    padding-top: 16px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    column-gap: .5em;

    button:disabled {
        pointer-events: none !important;
        opacity: 0.3 !important;
    }
}

@media (max-width: 649px) {
    .tasks-modal-priority-section {
        grid-template-columns: 6em auto auto;
    }

    .tasks-modal-priority-section > label {
        grid-row: 1 / span 3;
    }
}

@media (max-width: 499px) {
    .tasks-modal-priority-section {
        grid-template-columns: 4em auto auto;
    }

    .tasks-modal-dates-section {
        grid-template-columns: 1fr;
        grid-auto-columns: auto;

        .input {
            grid-column: 1;
        }

        .results {
            grid-column: 2;
        }

        select {
            grid-column: 1;
        }
    }

    .tasks-modal-dependencies-section {
        label {
            grid-column: 1;
        }

        .results-dependency {
            grid-column: 1;
        }
    }
}

@media (max-width: 399px) {
    .tasks-modal-dates-section {
        select {
            grid-column: 1;
            width: auto;
        }
    }

    .tasks-modal-dates-section > .results {
        grid-column: 1;
    }

    .tasks-modal-priority-section {
        grid-template-columns: 4em auto;
    }

    .tasks-modal-priority-section > label {
        grid-row: 1 / span 6;
    }

    .tasks-modal-dependencies-section {
        grid-template-columns: 1fr;
        grid-auto-columns: auto;
    }
}

@media (max-width: 259px) {
    .tasks-modal-priority-section {
        grid-template-columns: 1fr;
    }

    .tasks-modal-priority-section > label {
        grid-row: 1;
    }
}
