@import 'flatpickr/dist/flatpickr.css';
@import './Renderer/Renderer';
@import './ui/EditTask';
@import './ui/Dependency';
@import './ui/ModalOptionsEditor';
@import './Config/SettingsTab';
@import './Config/PresetsSettingsUI';
