/* MAINTENANCE NOTE
These two files should always have the same CSS content, please,
so that the styling in the Obsidian app and the published docs
is consistent:

- contributing/publish.css
- contributing/.obsidian/snippets/publish-simulation.css
- docs/.obsidian/snippets/publish-simulation.css
- docs/publish.css

If you make any changes in one of those files, please copy
them to the other one. Thank you.
*/

/* Style "<span class="related-pages">#plugin/quickadd</span>" sections */
span.related-pages::before {
    content: "See also: ";
}
span.related-pages a.tag {
    background-color: var(--text-highlight-bg);
    border: none;
    color: black;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}

/* Top-align all table cells, for readability */
table td, th {
    vertical-align: top;
}

/* Use altnerating shades for table rows */
table tr:nth-child(odd) {
    background-color: var(--background-primary) !important;
}

table tr:nth-child(even) {
    background-color: var(--background-secondary) !important;
}

/* Put a soft border around images, to make them stand out from the background */
img {
    margin-bottom: 1.5rem;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 3px 10px rgba(0, 0, 0, 0.08);
}

/* Put a pale border around inline code samples, to make them stand out */
:not(pre, figure) > code {
    border: 1px solid var(--color-base-30);
    border-radius:4px
}

/* Put a pale border around PRE code samples, to make them stand out */
pre {
    border: 1px solid var(--color-base-30);
    border-radius:4px
}

/* Make Warning callouts red rather than a rather ugly orange */
.callout[data-callout="warning"] {
    --callout-color: 255, 23, 68;
}

.callout[data-callout="released"] {
    --callout-color: 0, 200, 83;
    --callout-icon: lucide-rocket;
}
